@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #252525;
    min-height: 100vh;
    color: #E6E6E6;
    margin: 0;
}

.hero-img{
    filter: drop-shadow(0 0 80px rgba(255,255,255,0.38));
}